@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

#interface {
    position: relative;
    padding: 0 10px;
    margin: auto;
    max-width: 900px;
}

#interface > a:hover{
    text-decoration: none;
}

#interface img{
    position: absolute;
    right: 10px;
}

ul{
    margin: 35px 0;
}

ul li{
    margin: 10px 0;
    font-size: 1.2em;
}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    color: blue;
    text-decoration: underline;
}

.apre{
    margin-top: 30px;
}

@media print {
    body{
        background: transparent;
    }
}